<ion-view title="Encuesta" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="encuesta-card23">
            <h1 id="encuesta-heading2" style="color:#000000;" class=" ">Vialidad</h1>
            <p id="encuesta-markdown1" style="color:#000000;" class=" ">Cuántas alcantarillas tapadas existen en su localidad? Tome en cuenta que cualquier zona que exista entre una vía principal de la ciudad y su casa, es parte de su localidad</p>
            <div class="spacer" style="width: 300px; height: 110px;"></div>
        </div>
        <form id="encuesta-form1" class="list ">
            <label class="item item-select " id="encuesta-select1" name="choice">
                <span class="input-label">Escoja una opción</span>
                <select>
                    <option>Cero</option>
                    <option>Una</option>
                    <option>Dos</option>
                    <option>Más de dos</option>
                </select>
            </label>
        </form>
        <div id="encuesta-button-bar1" class=" button-bar ">
            <button id="encuesta-button1" class=" button button-balanced  button-block ">Anterior</button>
            <button id="encuesta-button3" class=" button button-balanced  button-block ">Siguiente</button>
        </div>
    </ion-content>
</ion-view>