<ion-view title="Formación" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="formaciN-list3" class=" ">
            <div class="item item-body " id="formaciN-list-item-container23">
                <p id="formaciN-markdown25" style="margin-top:0px;color:#000000;" class=" ">Llamar a los bomberos al numero 0212-111-22-33 para obtener ayuda personalizada referente a derrumbes</p>
            </div>
            <div class="item item-body " id="formaciN-list-item-container24">
                <p id="formaciN-markdown26" style="margin-top:0px;color:#000000;" class=" ">Comunicarse con la alcaldía para concretar fechas en las que se arreglarán los hoyos en la vía</p>
            </div>
            <div class="item item-body " id="formaciN-list-item-container25">
                <p id="formaciN-markdown27" style="margin-top:0px;color:#000000;" class=" ">Contratar un experto en construcción y remodelación para chequear las fisuras en las paredes y asegurar la residencia contra sismos</p>
            </div>
            <div class="item item-body " id="formaciN-list-item-container26">
                <p id="formaciN-markdown28" style="margin-top:0px;color:#000000;" class=" ">Contratar un experto en construcción y remodelación para chequear las fisuras en las paredes y asegurar la residencia contra sismos</p>
            </div>
            <div class="item item-body " id="formaciN-list-item-container27">
                <p id="formaciN-markdown29" style="margin-top:0px;color:#000000;" class=" ">Contratar un experto en construcción y remodelación para chequear las fisuras en las paredes y asegurar la residencia contra sismos</p>
            </div>
            <div class="item item-body " id="formaciN-list-item-container28">
                <p id="formaciN-markdown30" style="margin-top:0px;color:#000000;" class=" ">Contratar un experto en construcción y remodelación para chequear las fisuras en las paredes y asegurar la residencia contra sismos</p>
            </div>
            <div class="item item-body " id="formaciN-list-item-container29">
                <p id="formaciN-markdown31" style="margin-top:0px;color:#000000;" class=" ">Contratar un experto en construcción y remodelación para chequear las fisuras en las paredes y asegurar la residencia contra sismos</p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>