<ion-view title="Encuesta" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="encuesta-card23">
            <ion-item>
                Pregunta
                <span class="badge badge-positive">
                    {{ actual_question.index + 1 }} / {{ questions.length }}
                </span>
            </ion-item>
            <ion-item>
                Categoría
                <span class="item-note">{{ actual_question.category }}</span>
            </ion-item>
            <ion-item class="item-text-wrap">
                <div class="item item-body">
                    <p><h2>{{ actual_question.text }}</h2></p>
                </div>
                <label class="item item-select " id="poll-select1" name="choice">
                    <span class="input-label">Seleccione</span>
                    <select ng-options="option.text for option in data.availableOptions track by option.id"
                            ng-model="data.selectedOption"></select>
                </label>
            </ion-item>
        </div>

        <button id="poll-button1" class=" button button-balanced  button-block"
                ng-click="saveAnswer()">
            Guardar respuesta
        </button>

        <div id="poll-button-bar1" class=" button-bar ">
            <button id="poll-button1" class=" button button-positive  button-block"
                    ng-click="showPreviousQuestion()">
                Anterior
            </button>
            <button id="poll-button3" class=" button button-positive  button-block "
                    ng-click="showNextQuestion()">
                Siguiente
            </button>
        </div>
    </ion-content>
</ion-view>