<ion-view title="Encuesta" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="encuesta-card23">
            <h1 id="poll-heading2" style="color:#000000;" class=" ">{{ actual_question.category }}</h1>
            <p id="poll-markdown1" style="color:#000000;" class=" ">{{ actual_question.text }}</p>
            <div class="spacer" style="width: 300px; height: 110px;"></div>
        </div>
        <form id="poll-form1" class="list ">
            <label class="item item-select " id="poll-select1" name="choice">
                <span class="input-label">Escoja una opción</span>
                <select>
                    <option ng-repeat="choice in actual_question.choice_set track by $index">
                        {{ choice.text }}
                    </option>
                </select>
            </label>
        </form>
        <button id="poll-button1" class=" button button-balanced  button-block"
                ng-click="saveAnswer()">
            Guardar respuesta
        </button>
        <div id="poll-button-bar1" class=" button-bar ">
            <button id="poll-button1" class=" button button-positive  button-block"
                    ng-click="showPreviousQuestion()">
                Anterior
            </button>
            <button id="poll-button3" class=" button button-positive  button-block "
                    ng-click="showNextQuestion()">
                Siguiente
            </button>
        </div>
    </ion-content>
</ion-view>