<ion-view title="Recomendaciones" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="recomendaciones-list1" class=" ">
            <div class="item item-body " id="recomendaciones-list-item-container1">
                <p id="recomendaciones-markdown2" style="margin-top:0px;color:#000000;" class=" ">Llamar a los bomberos al numero 0212-111-22-33 para obtener ayuda personalizada referente a derrumbes</p>
            </div>
            <div class="item item-body " id="recomendaciones-list-item-container6">
                <p id="recomendaciones-markdown9" style="margin-top:0px;color:#000000;" class=" ">Comunicarse con la alcaldía para concretar fechas en las que se arreglarán los hoyos en la vía</p>
            </div>
            <div class="item item-body " id="recomendaciones-list-item-container4">
                <p id="recomendaciones-markdown7" style="margin-top:0px;color:#000000;" class=" ">Contratar un experto en construcción y remodelación para chequear las fisuras en las paredes y asegurar la residencia contra sismos</p>
            </div>
            <div class="item item-body " id="recomendaciones-list-item-container8">
                <p id="recomendaciones-markdown11" style="margin-top:0px;color:#000000;" class=" ">Contratar un experto en construcción y remodelación para chequear las fisuras en las paredes y asegurar la residencia contra sismos</p>
            </div>
            <div class="item item-body " id="recomendaciones-list-item-container11">
                <p id="recomendaciones-markdown14" style="margin-top:0px;color:#000000;" class=" ">Contratar un experto en construcción y remodelación para chequear las fisuras en las paredes y asegurar la residencia contra sismos</p>
            </div>
            <div class="item item-body " id="recomendaciones-list-item-container9">
                <p id="recomendaciones-markdown12" style="margin-top:0px;color:#000000;" class=" ">Contratar un experto en construcción y remodelación para chequear las fisuras en las paredes y asegurar la residencia contra sismos</p>
            </div>
            <div class="item item-body " id="recomendaciones-list-item-container10">
                <p id="recomendaciones-markdown13" style="margin-top:0px;color:#000000;" class=" ">Contratar un experto en construcción y remodelación para chequear las fisuras en las paredes y asegurar la residencia contra sismos</p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>